{
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:import/warnings",
        "plugin:prettier/recommended",
        "plugin:jest/recommended",
        "plugin:jest/style",
        "prettier/react",
        "prettier/@typescript-eslint",
        "prettier/babel"
    ],
    "plugins": [],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "prettier/prettier": "error",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "varsIgnorePattern": "^_",
                "ignoreRestSiblings": true
            }
        ],
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "react/prop-types": "off",
        "no-console": [
            "error",
            {
                "allow": [
                    "log",
                    "warn"
                ]
            }
        ],
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": [
                    "Link"
                ],
                "specialLink": [
                    "hrefLeft",
                    "hrefRight"
                ],
                "aspects": [
                    "invalidHref"
                ]
            }
        ]
    },
    "overrides": [
        {
            "files": [
                "**/*.tsx"
            ],
            "rules": {
                "@typescript-eslint/explicit-function-return-type": [
                    "error",
                    {
                        "allowTypedFunctionExpressions": true
                    }
                ]
            }
        },
        {
            "files": [
                "cypress/**"
            ],
            "rules": {
                "jest/expect-expect": "off",
                "jest/valid-expect-in-promise": "off"
            }
        }
    ]
}
